<%= content_for :heading do %>Home<% end %>
<%= content_for :content do %>
<p>index.html</p>

<div class="row scroll-vertical">
  <div class="col content-column">
    <%= image_tag "ubuntu-desktop.svg" %>
  </div>
  
  <div class="col content-column">
    <%= image_tag "ubuntu-desktop.svg" %>
  </div>
  
  <div class="col content-column">
    <%= image_tag "ubuntu-desktop.svg" %>
  </div>
</div>
<% end %>
